@import url('https://fonts.googleapis.com/css2?family=Gasoek+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

// Default to light theme
$primary-color: #707da5;
$background-color: #f9f9f9;
$text-color: #333;

// Set theme colors based on the color_scheme variable
@if $color_scheme == 'dark' {
  $primary-color: #333;
  $background-color: #000;
  $text-color: #fff;
} @else if $color_scheme == 'aqua' {
  $primary-color: #598392;
  $background-color: #eff6e0;
  $text-color: #ffffff;
} @else if $color_scheme == 'desert' {
  $primary-color: #0C5485;
  $background-color: #b3c6d8;
  $text-color: #241c29;
}

// General styles
body {
  font-family: 'Montserrat';
  line-height: 1.6;
  background-color: $background-color;
  color: $text-color;
  margin: 0;
  padding: 0;
}

header, footer {
  padding: 0px 5px;
  background: $primary-color;
  color: $background-color;
}

header {
  margin-bottom: 0px;
}

footer {
  text-align: center;
  margin-top: 40px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  color: $background-color;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s;
}

.highlight {
  background-color: #2d2d2d;
  color: #e0e0e0;
  padding: 10px 0;
  margin-bottom: 10px;
  border-radius: 5px;
  overflow-x: auto;
}

.highlight .k { color: #c792ea; }
.highlight .nb { color: #82aaff; }
.highlight .s { color: #c3e88d; }
.highlight .mi { color: #f78c6c; }
.highlight .c { color: #5c6370; }
.highlight .p { color: #89ddff; }
.highlight .o { color: #ff5370; }

// Sidebar styles
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 50px;
  height: 100vh;
  background: #0C5485;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.sidebar-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sidebar ul {
  list-style: none;
  padding: 30px 20px;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sidebar ul li {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.sidebar ul li a {
  width: 100%;
  text-align: center;
  padding: 16px 20px;
  writing-mode: vertical-rl;
  margin: 0 auto;
  transform: rotate(180deg);
  font-weight: bold;
  color: #b3c6d8;
  opacity: 0.6;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s, opacity 0.2s;
  border-radius: 8px;
  font-size: 18px;
}

.sidebar ul li a.active,
.sidebar ul li a:hover {
  background: #fff;
  color: #0d0d13;
  opacity: 1;
}

main.container {
  margin-left: 90px;
  padding: 0 2rem 2rem 0;
}

// Home page styles (index.md)
.about-section {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  margin-top: 0;
  margin-left: -2.5rem;
}

.about-text {
  flex: 1;
  margin-top: 250px;
}

.about-text h1 {
  font-size: 4.5rem;
  font-family: 'Poppins';
  letter-spacing: 1px;
  color: #0d0d13;
  margin-bottom: 0;
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
  justify-content: center;
}

.about-text h3 {
  font-size: 1.5rem;
  font-family: 'Poppins';
  letter-spacing: 1px;
  color: #0d0d13;
  margin-left: 100px;
  margin-right: 100px;
  justify-content: center;
}

.profile-image {
  width: 600px;
  object-fit: cover;
  margin: 0;
  display: flex;
  align-self: left;
  justify-content: left;
  margin-left: 0;
  margin-bottom: 25px;
}

.scroll-down {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  font-size: 1.2rem;
  color: #171722;
  opacity: 0.7;
}

.down-arrow {
  font-size: 2.5rem;
  animation: bounce 1.2s infinite;
}

@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(12px); }
}

.about-me-section h2 {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 1.5rem;
  margin-left: 0;
  margin-top: 20px;
  color: #0d0d13;
  justify-content: center;
  text-align: center;
}

.about-me-section h2::before {
  content: "★";
  margin-right: 10px;
}

.about-me-section h2::after {
  content: "★";
  margin-left: 10px;
}

.boxes-container {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.box {
  flex: 1;
  padding: 15px;
  border: 0px solid #0c55858c;
  border-radius: 8px;
  background-color: #0c55858c;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: white;
}

.take-look {
  margin-top: 30px;
}

// Projects page styles
.project-item img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.project-item h3 {
  margin-top: 15px;
  font-size: 1.25em;
}

.project-image {
  float: left;
  margin: 20px 25px 25px 0;
  max-width: 200px;
  vertical-align: top;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gallery-container {
  display: flex;
  justify-content: center;
  margin: auto;
}

.project-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 20px;
  margin: 0 auto;
  max-width: 100%;
}

.gallery-item {
  text-align: center;
  transition: transform 0.3s ease;
}

.gallery-item img {
  width: 100%;
  height: 85%;
  display: block;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gallery-item p {
  margin: 13px 0;
  font-size: 1rem;
  color: $text-color;
  word-wrap: break-word;
  white-space: normal;
}

.gallery-item a {
  text-decoration: none;
}

.gallery-item:hover {
  transform: scale(1.05);
}

// Project in the page details

  .carousel {
    position: relative;
    max-width: 1600px; /* Adjusted for three images */
    margin: 0; /* Aligned to the left */
    overflow: hidden;
  }
  .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carousel .left img, .carousel .right img {
    width: 400px;
    height: auto;
    border-radius: 10px;
    margin: 0 10px;
    opacity: 0.4;
  }
  .carousel .center img {
    width: 600px;
    height: auto;
    border-radius: 10px;
    margin: 0 10px;
    opacity: 1;
  }
  .carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 50%;
  }
  .carousel-btn.prev {
    left: 10px;
  }
  .carousel-btn.next {
    right: 10px;
  }

   .technologies {
    display: flex;
    gap: 10px;
    margin: 20px 0;
    flex-wrap: wrap;
  }
  .tech-box {
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9rem;
    color: #666;
  }

  .project-header {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 2rem;
  color: #0d0d13;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: left;
}

// Athletics page styles
.sport-section {
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 610px;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 0;
}

.image-grid img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.sport-title {
  text-align: left;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: bold;
}

.sport-description {
  text-align: left;
  margin-top: 0px;
  margin-bottom: 100px;
}

// Resume page styles
#english-btn, #french-btn {
  background-color: #0C5485;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
  font-size: 12px;
}

#english-btn:hover, #french-btn:hover {
  background-color: #0c476eff;
}

#english-btn.active, #french-btn.active {
  background-color: #0C5485;
}

// Contact page styles
.contact-section h2 {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 1.5rem;
  margin-left: 0;
  color: #0d0d13;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 10px;
}

.contact-section h3 {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 1.5rem;
  margin-left: 0;
  color: #0d0d13;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 10px;
}

.contact-section p {
  margin-bottom: 10px;
}

.contact-section p.phone {
  margin-bottom: 5px;
}

.contact-section p.note {
  margin-bottom: 20px;
}

.contact-section p.email {
  margin-bottom: 10px;
}